@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/********************  GERAL ************************/
body {
    overflow-x: hidden;
    background-color: black;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5vh;
    color: white;
    position: relative;
    top: 2%;
}
.titulo hr{
    width: 250px;
    border: 1px solid white;
}
/********************* HEADER **********************/
.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 999;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
.show-menu .hamburguer{
    right: 18rem;
}
.line{
    width: 100%;
    height: .1rem;
    background: #fff;
    box-shadow: 0.1rem 0.1rem 1px blue;
    transition: transform .8s;
}
.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .45rem);
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.45rem);
}
.sidebar{
    width: 20rem;
    height: 100vh;
    background: white;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1.2s;
    font-family: 'Baloo Chettan 2', sans-serif;
}
.show-menu .sidebar{
    right: 0;
}
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
}

.menu-item{
    text-align: center;
    margin-bottom: 4em;
}

.menu-link{
    color: black;
    font-size: 2em;
    padding: 1em;
    transition: opacity 1s;
    text-decoration: none;
}
.menu-link:hover{
    opacity: 0.3;
}

@media (max-width: 600px){
    .sidebar{
       width: 50vw; 
    }
    .menu-link{
        font-size: 1.5em;
    }
}
/********************* HOME *******************/
#home{
  background-image: linear-gradient(to right, #000000, #131111, #1f1d1b, #292825, #333430);
  height: 100vh;
  width: 100vw;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 15s;
}

.titulos{
  color: white;
  position: absolute;
  top: 40%;
  left: 10%;
}
.titulos h1{
  font-size: 3em;
  font-family: 'Baloo Chettan 2', sans-serif;
  font-weight: 800;
  letter-spacing: 5px;
  animation: tracking-in-expand-fwd-top 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  opacity: 0;
  text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.9);
}
.titulos p{
  font-size: 2.5em;
  font-family: 'Mulish', sans-serif;
  font-weight: 100;
  letter-spacing: 5px;
  animation: tracking-in-expand-fwd-top 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  opacity: 0;
  text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.9);
}

.social-media {
  margin-top: 2em;
  animation: tracking-in-expand-fwd-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  opacity: 0;
}
.social-media a{
  color: white;
  font-size: 5.5em;
  padding: .3em;
  transition: 1.5s;
  animation: tracking-in-expand-fwd-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  opacity: 0;
  text-shadow: .1rem .2rem 2px rgba(0, 0, 0, 0.9);
}
.social-media a:hover{
  color: rgb(65, 65, 65);
}

@media (max-width: 800px){
    #home{
        height: 100vh;
    }
    .titulos h1{
        font-size: 2em;
    }
    .titulos p{
        font-size: 1.5em;
    }
    .social-media a{
        font-size: 3em;
    }
}

@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}


@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}


/************** CONHECIMENTOS ***************/

.container-conhecimentos{
    width: 100vw;
    height: 100vh;
    background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
.linguagens-container{
    width: 100%;
    height: 95vh;
}
.linguagens-container i{
    font-size: 7em
}
.linguagens-container i:hover{
    font-size: 9em;
}
.linguagens-container span{
    font-size: 2em;
    font-family: 'Baloo Chettan 2', sans-serif;
    font-weight: 700;
    margin-top: .5em;
    color: white;
    text-transform: uppercase;
}

.linguagens1{
    width: 100%;
    height: 31%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.linguagens1 i{
    color: #F0DB4F;
}

.linguagens2{
    width: 100%;
    height: 31%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.linguagens2-left,
.linguagens2-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linguagens2-left i{
    color: #e34c26;
}
.linguagens2-right i{
    color: #264de4;
}

.linguagens3{
    width: 100%;
    height: 31%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.linguagens3 i{
    color: #61DBFB;
}

@media(max-width: 800px){
    .linguagens1, .linguagens2, .linguagens3{
        height: 30%;
    }
    .linguagens2{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 40%;
    }
    .linguagens2-right i{
        margin-top: .5em;
    }
    .container-conhecimentos i{
        font-size: 5em;
    }
}
@media(max-height: 800px){
    .container-conhecimentos i{
        font-size: 4em;
    }
    .container-conhecimentos i:hover{
        font-size: 6em;
    }
    .container-conhecimentos span{
        font-size: 1.5em;
    }
}



/****************** PROJETOS *******************/
.container-projetos{
    width: 100vw;
    height: 100vh;
    background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.projeto{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    font-family: 'Baloo Chettan 2', sans-serif;
    border-bottom: .1em solid #ffffff33;
}

.projeto-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.projeto-img img{
    width: 50%;
    height: 80%;
    position: relative;
    left: 15%;
    border-radius: 20px;
}
.projeto-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projeto-linguagens{
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    margin-top: .5em;
}
.projeto-text h1{
    color: #ffffff;
    font-size: 1.7em;
    text-transform: uppercase;
    margin-top: .5em;
}
.projeto-text h3{
    color: white;
    font-weight: 200;
    font-size: 1em;
    margin-top: 1em;
}
.js{
    color: #F0DB4F;
}
.html{
    color: #e34c26;
}
.css{
    color: #264de4;
}
.projeto-site{
    margin-top: .5em;
}
.projeto-site a{
    color: white;
}
.projeto-site a:hover{
    color: #325bcc;
}

@media(max-width: 427px){
    .projeto-text h1{
        font-size: 1em;
    }
    .projeto h3{
        display: none;
    }
}


/********************* CONTATO *********************************/

#contato{
    background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Chettan 2', sans-serif;
}

.container-contato{
    background: rgba(0,0,0,0.1);
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
}
.container-contato span{
    color: white;
    font-size: .6em;
    margin-left: .5em;
}
.container-contato a{
    transition: 1.3s;
}
.container-contato a:hover{
    opacity: 0.4;
}
.github{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}
.github i{
    font-size: 2em;
}
.github a{
    width: 80%;
    padding: .5em 1.5em;
    text-align: center;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

.linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}
.linkedin i{
    font-size: 2em;
}
.linkedin a{
    width: 80%;
    padding: .5em 1.5em;
    text-align: center;
    background-color: #2867B2;
    color: white;
    border-radius: 5px;    
}

.instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}
.instagram i{
    font-size: 2em;
}
.instagram a{
    width: 80%;
    padding: .5em 1.5em;
    text-align: center;
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
    border-radius: 5px;    
}

.facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}
.facebook i{
    font-size: 2em;
}
.facebook a{
    width: 80%;
    padding: .5em 1.5em;
    text-align: center;
    background: #3B5998;
    color: white;
    border-radius: 5px;    
}

.container-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;   
}
.container-infos i{
    color: white;
    font-size: 1.8em;
}
.container-infos span{
    margin-left: 1em;
    letter-spacing: 1px;
    font-family: 'sans-serif';
}

footer{
    background: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 10vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}


@media (max-width: 800px){
    .container-contato span{
        display: none;
    }
    .container-infos{
        display: none;
    }
}